body
{
    background-color: rgb(243, 232, 232);
}
h5,.jumbotron
{
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
}
.text-center
{
    text-align: center;
}
.time-block
{
    background-color: white;
    border-style: groove;
}
.event-block
{
    background-color:lightgray;
    border-style: groove;
}
.save-block
{
    background-color: cadetblue;
    cursor: pointer;
    border-style: groove;
}