body
{
    background-color: rgb(243, 232, 232);
}
h5,.jumbotron
{
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
}
.text-center
{
    text-align: center;
}
.time-block
{
    color: white;
    background-color: cadetblue;
    border-style: groove;
    
}
.event-block
{
    background-color:lightgray;
    border-style: groove;
}
.save-btn
{
    color: white;
    background-color: cadetblue;
    border-style: groove;
}

/**
* event color code is gray for past, coral for present and blue for future
*/
.past
{
    background-color: lightgray;
}
.present
{
    background-color: lightcoral;
}
.future
{
    background-color: lightblue;
}